<div class="profile-box info-box general md-whiteframe-1dp" layout="column">
    <p>
        <mat-toolbar color="primary">
          <span>Usuario</span>
        </mat-toolbar>
    </p>
    <div class="textProfile">
        <h3 mat-dialog-title>Tipo de usuario</h3>
        <div class="info">{{typeUser}}</div>
    </div>
    <div class="textProfile">
        <h3 mat-dialog-title>Nombre</h3>
        <div class="info">{{name}}</div>
    </div>
    <div class="textProfile">
        <h3 mat-dialog-title>Nombre de usuario</h3>
        <div class="info">{{userName}}</div>
    </div>
    <div class="textProfile">
        <h3 mat-dialog-title>Correo Electrónico</h3>
        <div class="info">{{email}}</div>
    </div>
</div>
