<div class="superior-header"></div>
<div style="width: 100vw;">
  <nav
    id="navbar"
    class="navbar full-width navbar-expand-lg navbar-light bg-light"
  >
    <div class="nav-bar-container">
      <!--dropdownbutton-->
      <div class="dropdown">
        <button
          class="navbar-toggler dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="nav-anchor-li dropdown-item dropdown-a">Inicio</a>
          <a class="nav-anchor-li dropdown-item dropdown-a">Acerca de</a>
          <a class="nav-anchor-li dropdown-item dropdown-a">Sectores</a>

          <a class="nav-anchor-li dropdown-item dropdown-a">
            Iniciar sesión
          </a>
          <a class="nav-anchor-li dropdown-item dropdown-a">
            Registrate
          </a>
          <a class="nav-anchor-li dropdown-item dropdown-a">
            Cerrar sesión
          </a>
        </div>
      </div>
      <!--drop end-->

      <div class="flex-container">
        <div class="hide-on-big">
          <ul class="navbar-nav mr-auto vertical-flex-align">
            <li class="nav-item">
              <a class="nav-anchor-li">Aliados</a>
            </li>
            <li class="nav-item">
              <a class="nav-anchor-li">Centro de desafíos</a>
            </li>
            <li class="nav-item">
              <a class="nav-anchor-li">Renting I+D+I</a>
            </li>

            <div class="nav-item">
              <a class="nav-anchor-li">
                Iniciar sesión
              </a>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success app-light-blue-button register-button"
              >
                Crear cuenta
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success app-light-blue-button register-button"
              >
                Cerrar sesión
              </button>
            </div>
            <!-- <div>
                <button type="button" class="btn btn-success app-light-blue-button register-button"
                    routerLink="/p/sena-tech">SENA
                    TECH</button>
            </div>
            -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
